<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>IT Documents</b>
    </div>
    <strong>Copyright © 2019 <a href="https://www.bidc.com.kh" target="_blank">BIDC</a>.</strong>
</footer>