@{
    ViewBag.Title = "Index";
}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <meta name="viewport" content="width=device-width" />
                    </div>
                </div>
            </div>
        </div>
    </section>