@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Backend/css/clear.css" rel="stylesheet" />
<link href="~/Content/Backend/css/common.css" rel="stylesheet" />
<link href="~/Content/Backend/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Backend/css/prettyPhoto.css" rel="stylesheet" />
<link href="~/Content/Backend/css/sm-clean.css" rel="stylesheet" />
<link href="~/Content/Backend/css/carouFredSel.css" rel="stylesheet" />
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <section class="page-section bg-info" id="about">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center">
                            <h2 class="text-white mt-0">Bank for Investment and Development of Cambodia Plc.</h2>
                            <hr class="divider light my-4">
                            <div class="col-lg-12 text-center">
                                <h4 style="color:#0000cd;">Bank for Investment and Development of Cambodia Plc.</h4>
                                <p>#370 Preah Monivong Blvd, Boeung keng kang I,<br> Khan Chamkarmon, Phnom Penh, Cambodia</p>
                                <p>Tel : +855 23 210 044 / Fax: +855 23 220 511</p>
                                <p>Email : info@bidc.com.kh / Website: www.bidc.com.kh</p>
                                <p>Swift : IDBCKHPP</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>